/* CSS Document */

body {
	font-family: Arial;
	font-size: 12pt;
}

p {
	font-size: 14pt;
}

.review {
	display: flex;
	align-content: space-around;
	flex-direction: row;
	padding: 50px;
}

.albumart {
	padding: 20px;
	border-radius: 50%;
}

.reviewpreview {
	height: 300px;
	display: flex;
	align-content: space-around;
	justify-content: center;
	flex-direction: row;
}

.reviewhub {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	width: 1200px;
	height: 1000px;
	margin: auto;
}

#300pxdiv {
	height: 300px;
}

.aboutme {
	display: flex;
	flex-direction: row;
	align-content: space-between;
	justify-content: flex-start;
}

.aboutMepagePanel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	height: 700px;
	width: 400px;
	margin: auto;
}

.maincarousel {
	width: 1200px;
	height: 500px;
}