/* CSS Document */

body {
	font-family: Arial;
	font-size: 12pt;
}

p {
	font-size: 14pt;
}

.review {
	display: flex;
	align-content: space-around;
	flex-direction: row;
	padding: 50px;
}

.albumart {
	padding: 20px;
	border-radius: 50%;
}