/* CSS Document */

main {
	font-family: Haettenschweiler;
	font-size: 12pt;
	padding: 40px;
	color: aliceblue;
	background-color: black;
}

p {
	font-size: 14pt;
	font-family: Arial;
	color: whitesmoke;
}

.review {
	display: flex;
	align-content: space-around;
	flex-direction: row;
	padding: 50px;
}

.albumart {
	padding: 20px;
	border-radius: 50%;
}

.reviewpreview {
	height: 300px;
	display: flex;
	align-content: space-around;
	justify-content: center;
	flex-direction: row;
}

.reviewhub {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	width: 1200px;
	height: 1000px;
	margin: auto;
}

#300pxdiv {
	height: 300px;
}

.aboutme {
	display: flex;
	flex-direction: row;
	align-content: space-between;
	justify-content: flex-start;
}

.aboutMepagePanel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	height: 700px;
	width: 400px;
	margin: auto;
}

.main-carousel {
	margin: 100px;
	margin-top: 50px;
}

#carobox {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}

#indexpage {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}

#indexbottom {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: row;
}

.reviewoftheweek {
	display: flex;
	flex-wrap: wrap-reverse;
	padding: 25px;
}

carousel-inner {
	color: aliceblue;
}